In [35]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [36]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_winâ€“loss_records'
webbrowser.open(website)

True

In [37]:
nfl_frame = pd.read_clipboard()

In [38]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN

In [39]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [40]:
nfl_frame.Team

0      Chicago
1       Dallas
2        Green
3        Miami
4          New
5          San
6    Baltimore
7    Minnesota
8          New
9       Denver
Name: Team, dtype: object

In [41]:
DataFrame(nfl_frame,columns=['Rank','Team'])

   Rank       Team
0     1    Chicago
1     2     Dallas
2     3      Green
3     4      Miami
4     5        New
5     6        San
6     7  Baltimore
7     8  Minnesota
8     9        New
9    10     Denver

In [42]:
DataFrame(nfl_frame,columns=['Rank','Team','Stadium'])

   Rank       Team  Stadium
0     1    Chicago      NaN
1     2     Dallas      NaN
2     3      Green      NaN
3     4      Miami      NaN
4     5        New      NaN
5     6        San      NaN
6     7  Baltimore      NaN
7     8  Minnesota      NaN
8     9        New      NaN
9    10     Denver      NaN

In [43]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN

In [44]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North

In [45]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [46]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [47]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,Levi's Stadium
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN,Levi's Stadium
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN,Levi's Stadium
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East,Levi's Stadium
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN,Levi's Stadium

In [48]:
nfl_frame['Stadium'] = np.arange(1,11)

In [49]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,1
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,2
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,3
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,4
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,5
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,6
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN,7
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN,8
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East,9
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN,10

In [51]:
stadiums = Series(["Levi's stadium","AT&T Stadium"],index=[4,0])

In [53]:
stadiums

4    Levi's stadium
0      AT&T Stadium
dtype: object

In [55]:
nfl_frame['Stadiums'] = stadiums

In [56]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium,Stadiums
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,1,AT&T Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,2,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,3,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,4,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,5,Levi's stadium
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,6,NaN
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN,7,NaN
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN,8,NaN
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East,9,NaN
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN,10,NaN

In [57]:
del nfl_frame['Stadiums']

In [58]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,1
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,2
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,3
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,4
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,5
5,6,San,Francisco,49ers,520,436,14.000,0.543,1950,970,NFC,West,6
6,7,Baltimore,Ravens,173,146,1,0.542,1996.000,320,AFC,North,NaN,7
7,8,Minnesota,Vikings,449,379,10,0.542,1961.000,838,NFC,North,NaN,8
8,9,New,York,Giants,673,567,33.000,0.542,1925,"1,273",NFC,East,9
9,10,Denver,Broncos,456,386,10,0.541,1960.000,852,AFC,Wes,NaN,10

In [59]:
data = {'City':['SF', 'LA', 'NYC'],'Population':[837000,3880000,8400000]}

In [61]:
city_frame = DataFrame(data)

In [62]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000